/*
Font: IranYekan
*/

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebthinfanum.eot');
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('/fonts/IranYekanFaNum/woff/iranyekanwebthinfanum.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/IranYekanFaNum/ttf/iranyekanwebthinfanum.ttf') format('truetype');
        unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;

  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/IranYekanFaNum/eot/iranyekanweblightfanum.eot');
    src: url('/fonts/IranYekanFaNum/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('/fonts/IranYekanFaNum/woff/iranyekanweblightfanum.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/IranYekanFaNum/ttf/iranyekanweblightfanum.ttf') format('truetype');
        unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;

  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebregularfanum.eot');
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('/fonts/IranYekanFaNum/woff/iranyekanwebregularfanum.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/IranYekanFaNum/ttf/iranyekanwebregularfanum.ttf') format('truetype');
        unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;

  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebmediumfanum.eot');
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('/fonts/IranYekanFaNum/woff/iranyekanwebmediumfanum.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/IranYekanFaNum/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
        unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;

  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebextraboldfanum.eot');
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('/fonts/IranYekanFaNum/woff/iranyekanwebextraboldfanum.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/IranYekanFaNum/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
        unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;

  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebblackfanum.eot');
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('/fonts/IranYekanFaNum/woff/iranyekanwebblackfanum.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/IranYekanFaNum/ttf/iranyekanwebblackfanum.ttf') format('truetype');
        unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;

  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebextrablackfanum.eot');
    src: url('/fonts/IranYekanFaNum/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */ url('/fonts/IranYekanFaNum/woff/iranyekanwebextrablackfanum.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/IranYekanFaNum/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
        unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;

  }
